.navbar {
  background-color: var(--default-white-color);
  flex-direction: column;
}

.containerCustom {
  margin: 0;
}

.navbarBrandCustom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.brandName,
.brandTitle {
  color: var(--font-dark-grey-color);
  white-space: nowrap;
}

.brandName {
  font-size: 1.75rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: .5rem;
}

.brandTitle {
  font-size: 0.95rem;
}

.customToggle {
  display: none;
}

.navLink {
  color: var(--font-dark-grey-color);
  margin-right: 1rem;
  cursor: pointer;
}

.navLink:hover {
  color: var(--font-light-grey-color);
}

.navbarCollapse {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media screen and (min-width: 992px) {
  .navbarCollapse {
    display: flex !important;
  }
}

@media screen and (max-width: 991.98px) {

  .navbar {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }

  .customToggle {
    display: flex;
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 10000;
    color: var(--font-dark-grey-color);
  }

  .customToggle:hover {
    color: var(--font-light-grey-color);
  }

  .navbarCollapse {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-100%);
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

  .navbarCollapseShow {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    display: flex !important;
    background-color: var(--default-white-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: transform 0.3s ease;
    transform: translateX(0);
  }

  .navbarCollapseShow .navLink {
    font-size: 1.5rem;
    margin: 1rem 0;
    color: var(--font-dark-grey-color);
  }

  .navbarCollapseShow .navLink:hover {
    color: var(--font-light-grey-color);
  }
}
