

/* Linke Hälfte */
.leftHalf {
  background-color: var(--background-light-beige-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

/* Rechte Hälfte */
.rightHalf {
  background-color: var(--background-light-blue-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

/* Inhalt mittig zentrieren */
.contentWrapper {
  text-align: center;
  max-width: 400px;
  margin: auto;
}
