.leftHalf {
  background-color: var(--background-light-beige-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.rightHalf {
  background-color: var(--background-light-blue-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.contentWrapper {
  text-align: center;
  max-width: 400px;
  margin: auto;
}
