.footer {
  padding: 1rem 0;
  font-size: 0.75rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-beige-color);
  color: var(--font-dark-grey-color);
}

.footerLeft,
.footerRight {
  flex: 1 1 50%;
  padding: 0.5rem;
}

.footerLeft {
  text-align: left;
}

.footerRight {
  text-align: right;
}

/* Social Icons in der rechten Spalte */
.socialIcons {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  font-size: .75rem;
}

.socialIcons a {
  text-decoration: none;
  color: var(--font-dark-grey-color);
}

.socialIcons a:hover {
  color: var(--font-light-grey-color);
}

.copyrightLink {
  text-decoration: none;
  color: var(--font-dark-grey-color);
}

.copyrightLink:hover {
  color: var(--font-light-grey-color);
}

@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    text-align: center;
    padding: 10px;
  }

}
