.footer {
  padding: 1rem 0;
  font-size: 0.75rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.footerLeft,
.footerMiddle,
.footerRight {
  flex: 1 1 33%;
  padding: 0.5rem;
}

.footerLeft {
  text-align: left;
}

.footerMiddle {
  text-align: center;
}

.footerRight {
  text-align: right;
}

.contactBlock {
  margin-bottom: 0.5rem;
}

.contactTitle {
  font-weight: bold;
}

.contactInfo a {
  text-decoration: none;
}

.socialIcons {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  font-size: 1rem;
  margin-top: 0.5rem;
}

.socialIcons a {
  color: var(--primary-blue-light-color);
  text-decoration: none;
}

.contactInfo a:hover,
.copyrightLink:hover,
.socialIcons a:hover {
  color: var(--text-light-grey-color);
  text-decoration: underline;
}

.copyrightLink {
  color: var(--primary-blue-light-color);
  text-decoration: none;
  font-weight: bold;
}

.footer,
.contactInfo a,
.socialIcons a,
.copyrightLink {
  color: var(--text-dark-grey-color);
  background-color: var(--background-beige-color);
}

@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    text-align: center;
  }

  .footerLeft,
  .footerMiddle,
  .footerRight {
    flex: 1 1 100%;
    text-align: center;
    padding: 0.5rem 0;
  }
}

@media screen and (max-width: 1025px) {
  .footer {
    flex-direction: column;
    text-align: center;
  }

  .footerLeft,
  .footerMiddle,
  .footerRight {
    flex: 1 1 100%;
    text-align: center;
    padding: 0.5rem 0;
  }
}
