.cardContainer {
  margin: 0 auto;
  background-color: var(--default-beige-color);
  padding-top: 45px;
  width: 400px;
}

.imageWrapper {
  width: 150px;
  height: 150px;
  margin: auto;
  border: 1px solid var(--background-light-blue-color);
  border-radius: 50%;
  overflow: hidden;
  -webkit-box-shadow:
    4px -4px 15px 0px var(--default-blue-color),
    12px -11px 7px 0px var(--background-light-blue-color),
    20px -5px 7px 0px var(--background-light-beige-color),
    20px 6px 7px 0px var(--background-beige-color),
    13px 12px 17px 0px var(--font-light-grey-color),
    2px 17px 17px 0px var(--font-dark-grey-color),
    -9px 21px 18px 0px var(--font-light-grey-color),
    -9px 6px 11px 0px var(--font-dark-grey-color),
    -11px -9px 11px 0px var(--font-light-grey-color),
    0px 0px 25px 10px rgba(109, 159, 255, 0.2);
  box-shadow:
    4px -4px 15px 0px var(--default-blue-color),
    12px -11px 7px 0px var(--background-light-blue-color),
    20px -5px 7px 0px var(--background-light-beige-color),
    20px 6px 7px 0px var(--background-beige-color),
    13px 12px 17px 0px var(--font-light-grey-color),
    2px 17px 17px 0px var(--font-dark-grey-color),
    -9px 21px 18px 0px var(--font-light-grey-color),
    -9px 6px 11px 0px var(--font-dark-grey-color),
    -11px -9px 11px 0px var(--font-light-grey-color),
    0px 0px 25px 10px rgba(109, 159, 255, 0.2);
}

.cardFooter {
  display: flex;
  justify-content: center;
  gap: 1rem;
  background-color: var(--default-white-color);
}

.cardFooter a {
  color: var(--font-dark-grey-color);
  text-decoration: none;
}

.cardFooter a:hover {
  color: var(--font-light-grey-color);
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .cardContainer {
    position: absolute;
    width: 350px;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 45px;
    z-index: 10;
    border-radius: 16px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  }
}

@media screen and (min-width: 769px) {
  .cardContainer {
    position: absolute;
    /* width: 350px; */
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 45px;
    z-index: 10;
    border-radius: 16px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  }
}
