* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 24px;
}

/* Light Theme */
:root {
  --default-blue-color: #0052cc;
  --default-grey-color: #8a8d91;
  --default-white-color: #ffffff;
  --default-beige-color: #fdf5e6;

  --font-dark-grey-color: #333333;
  --font-light-grey-color: #757575;

  --background-beige-color: #e8e3d3;
  --background-light-beige-color: #f9f6f1;
  --background-light-blue-color: #d0e1ff;
  --background-blue-color: #0052cc;

  --button-blue-color: #0052cc;
  --button-blue-hover-color: #003a99;
  --button-blue-border-color: #003a99;

  --detail-blue-color: #3366ff;
  --detail-grey-color: #6b6d70;
  --detail-white-color: #ffffff;
  --detail-beige-color: #f7e9d7;
}

/* Dark Theme */
[data-theme="dark"] {
  --default-blue-color: #0a84ff; /* Beispielhafter Blauton */
  --default-grey-color: #cccccc;
  --default-white-color: #1c1c1c;
  --default-beige-color: #333333;

  --font-dark-grey-color: #f0f0f0;
  --font-light-grey-color: #cccccc;

  --background-beige-color: #2b2b2b;
  --background-light-beige-color: #3f3f3f;
  --background-light-blue-color: #2f4e66;
  --background-blue-color: #0a84ff;

  --button-blue-color: #0a84ff;
  --button-blue-hover-color: #006bbf;
  --button-blue-border-color: #006bbf;

  --detail-blue-color: #66ccff;
  --detail-grey-color: #999999;
  --detail-white-color: #1c1c1c;
  --detail-beige-color: #4d4d4d;
}


#root {
  display: flex;
  flex-direction: column;
}

.appContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainContent {
  flex: 1;
  display: flex;
}
